* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
li,
button,
input {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
p {
  margin-top: 5px;
}
p::first-letter {
  text-transform: uppercase;
}
li {
  list-style: none;
  /* background-color: rgb(68, 0, 255); */
}
input,
button {
  border: none;
  outline: none;
}
button {
  cursor: pointer;
  background-color: rgba(68, 0, 255, 0.59) !important;
  backdrop-filter: blur(10px);
}

.weather {
  background-color: rgba(35, 0, 130, 0.734);

  border-radius: 20px;
  padding: 18px;
}
.weather__head {
  display: flex;
  align-items: center;
  gap: 24px;
}
.weather__container-img {
  position: relative;
  min-width: 100px;
  min-height: 100px;
}
.weather__img {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  transform: scale(1.2);
}
.weather__resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.weather__day{
  font-weight: 600;
  font-size: 18px;
}
.weather__general-temp{
  font-weight: 600;
}
.weather__description, .weather__minmax{
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 400;
  opacity: .9;
}
.weather__minmax{
  opacity: .8;
}


.weather__temp{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
}
.weather__item{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather__per{
  font-size: 15px;
  font-weight: 500;
  opacity: .9;
}
.weather__subtitle{
  font-size: 12px;
  font-weight: 400;
  opacity: .8;
}